<link rel="stylesheet" href="css/contact.css">
<div class="body">
  <div class="contact-container">
    <form action="" class="contact-form">
      <label for="fname">Enter your Name</label>
      <input
        class="input-field"
        type="text"
        name="fname"
        placeholder="Full Name"
      />
      <label for="email">Enter your email</label>
      <input
        type="email"
        class="input-field"
        name="email"
        placeholder="Email"
      />
      <label for="text-area">Message or Suggestion</label>
      <textarea
        name="text-area"
        id=""
        cols="30"
        rows="10"
        placeholder="Type Here....."
      ></textarea>
      <button type="submit" class="btn" style="width: 100px;
      font-size: 18px;
      padding: 12px 12px;
      text-align: center;">Send</button>
    </form>
  </div>
</div>
