<main>
  <article>
    <!-- --Hero Section-- -->
    <section class="section hero" aria-label="home">
      <div class="container">
        <h1 class="h1 hero-title">
          <strong class="strong" style="color: rgb(166, 89, 233);">Hey, we're blog it.</strong> See our thoughts,
          stories and ideas.
        </h1>

        <div class="wrapper">
          <form action="" class="newsletter-form">
            <input
              type="email"
              name="email_address"
              placeholder="Alteast 4 keywords"
              class="email-field"
            />

            <button type="submit" class="btn">Search</button>
          </form>

          <p class="newsletter-text">
            Search for your interests
          </p>
        </div>
      </div>
    </section>
    <!-- --Hero Section End-- -->

    <!-- --Featured Post-- -->
    <section class="section featured" aria-label="featured post">
      <div class="container">
        <p class="section-subtitle">
          Get started with our <strong class="strong">best stories</strong>
        </p>

        <ul class="has-scrollbar">
          <li class="scrollbar-item">
            <div class="blog-card">
              <figure
                class="card-banner img-holder"
                style="--width: 500; --height: 600"
              >
                <img
                  src="./assets/images/featured-1.jpg"
                  width="500"
                  height="600"
                  loading="lazy"
                  alt="New technology is not good or evil in and of itself"
                  class="img-cover"
                />

                <ul class="avatar-list absolute">
                  <li class="avatar-item">
                    <a
                      href="#"
                      class="avatar img-holder"
                      style="--width: 100; --height: 100"
                    >
                      <img
                        src="./assets/images/author-1.jpg"
                        width="100"
                        height="100"
                        loading="lazy"
                        alt="Author"
                        class="img-cover"
                      />
                    </a>
                  </li>
                </ul>
              </figure>

              <div class="card-content">
                <ul class="card-meta-list">
                  <li>
                    <a href="#" class="card-tag">Travel</a>
                  </li>
                </ul>

                <h3 class="h4">
                  <a href="#" class="card-title hover:underline">
                    The old city | Places, Quebec city, Canada travel
                  </a>
                </h3>

                <p class="card-text">
                  Vestibulum vehicula dui venenatis neque tempor, accumsan
                  iaculis sapien ornare. Sed at ante porta, ullamcorper massa
                  eu, ullamcorper sapien. Donec pretium tortor augue. Integer
                  egestas ut tellus sed pretium. Nullam tristique augue ut
                  mattis vulputate. Duis et lorem in odio ultricies porttitor.
                </p>
              </div>
            </div>
          </li>

          <li class="scrollbar-item">
            <div class="blog-card">
              <figure
                class="card-banner img-holder"
                style="--width: 500; --height: 600"
              >
                <img
                  src="./assets/images/featured-2.jpg"
                  width="500"
                  height="600"
                  loading="lazy"
                  alt="It’s a new era in design, there are no rules"
                  class="img-cover"
                />

                <ul class="avatar-list absolute">
                  <li class="avatar-item">
                    <a
                      href="#"
                      class="avatar img-holder"
                      style="--width: 100; --height: 100"
                    >
                      <img
                        src="./assets/images/author-3.jpg"
                        width="100"
                        height="100"
                        loading="lazy"
                        alt="Author"
                        class="img-cover"
                      />
                    </a>
                  </li>
                </ul>
              </figure>

              <div class="card-content">
                <ul class="card-meta-list">
                  <li>
                    <a href="#" class="card-tag">Tech</a>
                  </li>
                </ul>

                <h3 class="h4">
                  <a href="#" class="card-title hover:underline">
                    Samsung Galaxy S24 Ultra to shatter brightness records and have huge bezels
                  </a>
                </h3>

                <p class="card-text">
                  Quibus autem in rebus tanta obscuratio non fit, fieri tamen
                  potest, ut id ipsum, quod interest, non sit magnum. Ita fit
                  ut, quanta differentia est in principiis naturalibus, tanta
                  sit in finibus bonorum malorumque dissimilitudo.
                </p>
              </div>
            </div>
          </li>

          <li class="scrollbar-item">
            <div class="blog-card">
              <figure
                class="card-banner img-holder"
                style="--width: 500; --height: 600"
              >
                <img
                  src="./assets/images/featured-3.jpg"
                  width="500"
                  height="600"
                  loading="lazy"
                  alt="Perfection has to do with the end product"
                  class="img-cover"
                />

                <ul class="avatar-list absolute">
                  <li class="avatar-item">
                    <a
                      href="#"
                      class="avatar img-holder"
                      style="--width: 100; --height: 100"
                    >
                      <img
                        src="./assets/images/author-4.jpg"
                        width="100"
                        height="100"
                        loading="lazy"
                        alt="Author"
                        class="img-cover"
                      />
                    </a>
                  </li>
                </ul>
              </figure>

              <div class="card-content">
                <ul class="card-meta-list">
                  <li>
                    <a href="#" class="card-tag">Food</a>
                  </li>
                </ul>

                <h3 class="h4">
                  <a href="#" class="card-title hover:underline">
                    How to make Dahi Vada at Home
                  </a>
                </h3>

                <p class="card-text">
                  Aenean eget urna aliquet, viverra orci quis, aliquam erat. Ut
                  rutrum quam quam, eu eleifend est blandit et. Vivamus suscipit
                  ultrices venenatis. Aliquam massa ipsum, porta quis hendrerit
                  at, varius sed leo. Curabitur convallis urna sit amet mi
                  tempus posuere.
                </p>
              </div>
            </div>
          </li>

          <li class="scrollbar-item">
            <div class="blog-card">
              <figure
                class="card-banner img-holder"
                style="--width: 500; --height: 600"
              >
                <img
                  src="./assets/images/featured-4.jpg"
                  width="500"
                  height="600"
                  loading="lazy"
                  alt="Everyone has a different life story"
                  class="img-cover"
                />

                <ul class="avatar-list absolute">
                  <li class="avatar-item">
                    <a
                      href="#"
                      class="avatar img-holder"
                      style="--width: 100; --height: 100"
                    >
                      <img
                        src="./assets/images/author-5.jpg"
                        width="100"
                        height="100"
                        loading="lazy"
                        alt="Author"
                        class="img-cover"
                      />
                    </a>
                  </li>
                </ul>
              </figure>

              <div class="card-content">
                <ul class="card-meta-list">
                  <li>
                    <a href="#" class="card-tag">Science</a>
                  </li>
                </ul>

                <h3 class="h4">
                  <a href="#" class="card-title hover:underline">
                    Alternate Reality
                  </a>
                </h3>

                <p class="card-text">
                  Non est igitur summum malum dolor. Tu autem inter haec tantam
                  multitudinem hominum interiectam non vides nec laetantium nec
                  dolentium. Nunc vero a primo quidem mirabiliter occulta natura
                  est nec perspici nec cognosci potest.
                </p>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </section>
    <!-- --Featured Post End-- -->

    <!-- --Recomended Posts-- -->
    <section class="section recommended" aria-label="recommended post">
      <div class="container">

        <p class="section-subtitle">
          <strong class="strong">Recommended</strong>
        </p>

        <ul class="grid-list">

          <li>
            <div class="blog-card">

              <figure class="card-banner img-holder" style="--width: 300; --height: 360;">
                <img src="./assets/images/recommended-1.jpg" width="300" height="360" loading="lazy"
                  alt="The trick to getting more done is to have the freedom to roam around " class="img-cover">

                <ul class="avatar-list absolute">

                  <li class="avatar-item">
                    <a href="#" class="avatar img-holder" style="--width: 100; --height: 100;">
                      <img src="./assets/images/author-5.jpg" width="100" height="100" loading="lazy" alt="Author"
                        class="img-cover">
                    </a>
                  </li>

                  <li class="avatar-item">
                    <a href="#" class="avatar img-holder" style="--width: 100; --height: 100;">
                      <img src="./assets/images/author-2.jpg" width="100" height="100" loading="lazy" alt="Author"
                        class="img-cover">
                    </a>
                  </li>

                </ul>
              </figure>

              <div class="card-content">

                <h3 class="h5">
                  <a href="#" class="card-title hover:underline">
                    The trick to getting more done is to have the freedom to roam around
                  </a>
                </h3>

              </div>

            </div>
          </li>

          <li>
            <div class="blog-card">

              <figure class="card-banner img-holder" style="--width: 300; --height: 360;">
                <img src="./assets/images/recommended-2.jpg" width="300" height="360" loading="lazy"
                  alt="Every day, in every city and town across the country " class="img-cover">

                <ul class="avatar-list absolute">

                  <li class="avatar-item">
                    <a href="#" class="avatar img-holder" style="--width: 100; --height: 100;">
                      <img src="./assets/images/author-3.jpg" width="100" height="100" loading="lazy" alt="Author"
                        class="img-cover">
                    </a>
                  </li>

                </ul>
              </figure>

              <div class="card-content">

                <h3 class="h5">
                  <a href="#" class="card-title hover:underline">
                    Every day, in every city and town across the country
                  </a>
                </h3>

              </div>

            </div>
          </li>

          <li>
            <div class="blog-card">

              <figure class="card-banner img-holder" style="--width: 300; --height: 360;">
                <img src="./assets/images/recommended-3.jpg" width="300" height="360" loading="lazy"
                  alt="I work best when my space is filled with inspiration " class="img-cover">

                <ul class="avatar-list absolute">

                  <li class="avatar-item">
                    <a href="#" class="avatar img-holder" style="--width: 100; --height: 100;">
                      <img src="./assets/images/author-1.jpg" width="100" height="100" loading="lazy" alt="Author"
                        class="img-cover">
                    </a>
                  </li>

                </ul>
              </figure>

              <div class="card-content">

                <h3 class="h5">
                  <a href="#" class="card-title hover:underline">
                    I work best when my space is filled with inspiration
                  </a>
                </h3>

              </div>

            </div>
          </li>

          <li>
            <div class="blog-card">

              <figure class="card-banner img-holder" style="--width: 300; --height: 360;">
                <img src="./assets/images/recommended-4.jpg" width="300" height="360" loading="lazy"
                  alt="I have my own definition of minimalism " class="img-cover">

                <ul class="avatar-list absolute">

                  <li class="avatar-item">
                    <a href="#" class="avatar img-holder" style="--width: 100; --height: 100;">
                      <img src="./assets/images/author-4.jpg" width="100" height="100" loading="lazy" alt="Author"
                        class="img-cover">
                    </a>
                  </li>

                  <li class="avatar-item">
                    <a href="#" class="avatar img-holder" style="--width: 100; --height: 100;">
                      <img src="./assets/images/author-3.jpg" width="100" height="100" loading="lazy" alt="Author"
                        class="img-cover">
                    </a>
                  </li>

                </ul>
              </figure>

              <div class="card-content">

                <h3 class="h5">
                  <a href="#" class="card-title hover:underline">
                    I have my own definition of minimalism
                  </a>
                </h3>

              </div>

            </div>
          </li>

          <li>
            <div class="blog-card">

              <figure class="card-banner img-holder" style="--width: 300; --height: 360;">
                <img src="./assets/images/recommended-5.jpg" width="300" height="360" loading="lazy"
                  alt="Change your look and your attitude " class="img-cover">

                <ul class="avatar-list absolute">

                  <li class="avatar-item">
                    <a href="#" class="avatar img-holder" style="--width: 100; --height: 100;">
                      <img src="./assets/images/author-6.jpg" width="100" height="100" loading="lazy" alt="Author"
                        class="img-cover">
                    </a>
                  </li>

                </ul>
              </figure>

              <div class="card-content">

                <h3 class="h5">
                  <a href="#" class="card-title hover:underline">
                    Change your look and your attitude
                  </a>
                </h3>

              </div>

            </div>
          </li>

          <li>
            <div class="blog-card">

              <figure class="card-banner img-holder" style="--width: 300; --height: 360;">
                <img src="./assets/images/recommended-6.jpg" width="300" height="360" loading="lazy"
                  alt="The difference is quality " class="img-cover">

                <ul class="avatar-list absolute">

                  <li class="avatar-item">
                    <a href="#" class="avatar img-holder" style="--width: 100; --height: 100;">
                      <img src="./assets/images/author-3.jpg" width="100" height="100" loading="lazy" alt="Author"
                        class="img-cover">
                    </a>
                  </li>

                </ul>
              </figure>

              <div class="card-content">

                <h3 class="h5">
                  <a href="#" class="card-title hover:underline">
                    The difference is quality
                  </a>
                </h3>

              </div>

            </div>
          </li>

        </ul>

      </div>
    </section>
    <!-- --Recomended Posts End-- -->

    <!-- --Submit Posts-- -->
    <section class="section newsletter">

      <h2 class="h2 section-title">
        Submit <strong class="strong">new posts</strong>
      </h2>

      <form action="" class="newsletter-form">
        <button type="submit" class="btn">Submit</button>
      </form>

    </section>
    <!-- --Submit Posts End-- -->

  </article>
</main>
