<form class="submitBlog">
    <input type="text" placeholder="Title" class="input_field">
    <textarea name="content" id="" cols="30" rows="10" placeholder="Content"></textarea>
    <select aria-placeholder="Select your topic" class="dropDown">
        <option value="Travel">Travel</option>
        <option value="Cooking">Cooking</option>
        <option value="Science">Science</option>
        <option value="Tech">Tech</option>
        <option value="Others" selected>Others</option>
    </select>
    <label for="blogPost">Upload your blog image</label>
    <input name="blogPost" type="file" placeholder="Image" class="input_img">
    <label for="blogDP">Upload your DP</label>
    <input name="blogDP" type="file" placeholder="Upload your image" class="input_dp">

</form>