.body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.contact-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.contact-form {
    max-width: 600px;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.contact-form:hover {
    transform: scale(1.02);
}

.input-field,
textarea {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: border-color 0.3s ease;
}

.input-field:focus,
textarea:focus {
    border-color: #3498db;
    outline: none;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #333;
}

textarea {
    resize: vertical;
}

button {
    background-color: #3498db;
    color: #fff;
    padding: 12px 18px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #2980b9;
}

.success-message, .failure-message {
    max-width: 1000px; /* Set the max-width as needed */
    margin: 0 auto; /* Center horizontally */
    background: #58af58; /* Green background color for success */
    text-align: center;
    padding: 19px;
    display: flex;
    justify-content: center;
    align-items: center; /* Center vertically */
    color: #fff; /* White text color */
  }
  
  .failure-message {
    background: #f44336; /* Red background color for failure */
  }